.green {
  background-color: #00b007;
}
.green-1 {
  background-color: #00d108;
}
.green-2 {
  background-color: #06eb0f;
}
.green-3 {
  background-color: #45f54c;
}
.green-4 {
  background-color: #a2f8a5;
}
.pink {
  background-color: #ffc7c7;
}
.pink-1 {
  background-color: #ffb6b6;
}
.pink-2 {
  background-color: #fe7575;
}
.red {
  background-color: #eb2121;
}
